body {
  background-color: #151929;
}

/* fontes utilizadas na interface: */
@font-face {
  font-family: JetBrains-bold;
  src: url(../../fonts/JetBrains/JetBrainsMono-Bold.ttf);
}

@font-face {
  font-family: Manrope-semibold;
  src: url(../../fonts/Manrope/Manrope-SemiBold.ttf);
}

@font-face {
  font-family: Manrope-bold;
  src: url(../../fonts/Manrope/Manrope-Bold.ttf);
}

.conteudo {
  display: grid;
  grid-template-areas:
    "titulo titulo titulo titulo titulo titulo"
    "card01 card01 card02 card02 card03 card03"
    "executar executar executar executar executar executar";
  gap: 40px; /* gap determina o espaço entre os elementos do grid. */
  justify-content: center;
}

.titulo {
  grid-area: titulo;
  color: #8887de;
  text-align: left;
  vertical-align: text-top;
  font-size: 1em;
  font-family: JetBrains-bold;
  position: relative;
  top: 80px;
  width: 100%;
}

.card01 {
  grid-area: card01;
  background-color: #1f273a;
  height: 400px;
  width: 380px;
  border-radius: 20px;
  position: relative;
  top: 140px;
}

.card02 {
  grid-area: card02;
  background-color: #1f273a;
  height: 400px;
  width: 380px;
  border-radius: 20px;
  position: relative;
  top: 140px;
}

.card03 {
  grid-area: card03;
  background-color: #1f273a;
  height: 400px;
  width: 380px;
  border-radius: 20px;
  position: relative;
  top: 140px;
}

.executar {
  grid-area: executar;
  font-family: Manrope-semibold;
  position: absolute;
  justify-self: center;
  top: 800px;
}

.executar a {
  text-decoration: none;
  color: #fff;
}

h3 {
  padding: 0px 20px;
  font-family: Manrope-bold;
  color: #fff;
}

.fundo-icone {
  height: 66px;
  width: 66px;
  border-radius: 16px;
  background: linear-gradient(to bottom, #8887de, #3d3dab);
  position: relative;
  margin: 20px 40px 0px 20px;
}

.code-svg {
  width: 41px;
  height: 27px;
}
